.header {
  height: 100px;
  background-color: #f2f2f2;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

.content {
  height: 2000px;
  padding: 20px;
}
